.card-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border: 1px solid gray;
    border-radius: 20px;
    max-width: 270px;
    margin-right: 12px;
}

.card-image {
    max-width: 250px;
    max-height: 250px;
    margin: 8px;
    border-radius: 20px 20px 0 0;
}

.card-image img {
    width: 100%;
    border-radius: 20px 20px 0 0;
}

.card-info{
    margin: 0 14px;
}

.card-info h6 small a{
    text-decoration: none;
    color: orangered;
}

.add-btn{
    background-color: orangered;
    color: #fff;
    border: 1px solid gray;
    border-radius: 0 0 20px 20px;
    width: 100%;
    height: 40px;
}

.add-btn:hover{
    background-color: rgb(255, 103, 56);
    cursor: pointer;
}